input,
button,
select,
textarea,
label {
  font-family: montserrat, sans-serif;
  font-size: 18px;
  line-height: inherit;
  margin: 5px 0px;
  border: none;
  border-radius: 5px;
}

form {
  max-width: 600px;
  padding: 20px 40px 30px 40px;
  margin: 20px auto 20px auto;
  background-color: var(--color-darkblue);
  border-radius: 15px;
}

.form-input {
  text-indent: 25px;
  width: 100%;
  padding: 10px 0 10px 0;
}

.form-comment {
  min-height: 100px;
  text-indent: 25px;
  width: 100%;
  padding: 10px 0 10px 0;
  resize: vertical;
}

.form-group {
  padding-top: 20px;
}

select {
  width: 100%;
  padding: 10px 20px;
}

.question {
  font-size: 20px;
}

.input-radio,
.input-checkbox {
  margin-right: 5px;
  min-height: 20px;
  min-width: 20px;
}

button {
  width: 100%;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-white);
  background-color: var(--color-green);
  cursor: pointer;
}

button:hover {
  background-color: #14b220;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}
